<!DOCTYPE html>
<html>
<head>
  <title>Admin Interface</title>
  <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>
<body>
  <h1>Master Chef's Epicenter</h1>
  
  <!-- Links to different sections -->
  <div class="section">
    <div class="section-header">
      <h2>Manager</h2>
    </div>
    <div class="section-content">
      <ul>
        <li><a href="/admin/orders.html">Manage Orders</a></li>
        <li><a href="/admin/food2">Manage Food</a></li>
        <li><a href="/admin/drink2">Manage Drinks</a></li>
        <li><a href="/admin/event2">Manage Events</a></li>
        <a href="#" class="logout-link">Logout</a>
      </ul>
    </div>
  </div>
  
</body>
</html>
